body
{
    background-image: url("tileset/main screen.jpg");
    background-size: 100% auto;
}
#canvas
{
    position: absolute;
    float: left;
    top: 5em;
    left:27.5em;
    border: black solid 3px;
}
#menu
{
    position: absolute;
    top: 5em;
    left: 27.5em;
    height: 31em;
    width: 25em;
    background-image: url("tileset/menu screen.png");
    text-align: center;
}
.MenuButton
{
    position: absolute;
    background-color: sandybrown;
    border: solid black 1px;
    left: 10em;
    width: 10em;
    height: 3em;
}

#Resume
{
    top: 8em;
}
#Inventory
{
    top: 18em;
}
#Restart
{
    top: 28em;
}

#combat
{
    background-image: url("tileset/cave.png");
    position: absolute;
    left: 23em;
    top: 5em;
    height: 30.5em;
    width: 40em;
    border: purple solid 2px;
    
}
#Joueur
{
    
    background-image: url("tileset/adampics.gif");
    background-size: 10em 13em;
    position: absolute;
    top : 5em;
    left: 2em;
    width: 10em;
    height: 13em;
}
#Ennemi
{
    background-image: url("tileset/goblinpics.gif") ;
    background-size: 10em 13em;
    position: absolute;
    top: 2em;
    left: 28em;
    width: 10em;
    height: 13em;
    border: solid black 1px;
}

.info
{
    position: absolute;
    height: 1em;
    width: 4em;
    background-color: lightgray;
    border: solid black 1px;
}

#nomjoueur
{
    top: 10em;
    left: 4em;
}
#pvjoueur
{
    top: 11.5em;
    left: 5em;
}

#nomennemi
{
    top: 10em;
    left: 4em;
}
#pvennemi
{
    top: 11.5em;
    left: 5em;
}

#texteCombat
{
    background-color: grey;
    position: relative;
    left: 20em;
    top: 20em;
    height: 10em;
    width: 19em;
    border: purple solid 1px;
    overflow: scroll;
}

button
{
    background-color: yellow;
    text-decoration-color: red;
}

#attaqueButton
{
    position: absolute;
    top: 25em;
    left: 10em;
}
#fuirButton
{
    position: absolute;
    top: 30em;
    left: 10em;    
}
