body
{
    background-image: url("tileset/main screen.jpg");
    background-size: 100% auto;
}
#canvas
{
    position: absolute;
    float: left;
    top: 5em;
    left:27.5em;
    border: black solid 3px;
}
#menu
{
    position: absolute;
    top: 5em;
    left: 27.5em;
    height: 31em;
    width: 25em;
    background-image: url("tileset/menu screen.png");
    text-align: center;
}
.MenuButton
{
    position: absolute;
    background-color: sandybrown;
    border: solid black 1px;
    left: 10em;
    width: 10em;
    height: 3em;
}

#Resume
{
    top: 8em;
}
#Inventory
{
    top: 18em;
}
#Restart
{
    top: 28em;
}

#combat
{
    background-image: url("tileset/cave.png");
    position: absolute;
    left: 23em;
    top: 5em;
    height: 30.5em;
    width: 40em;
    border: purple solid 2px;
    
}

#texteCombat
{
    background-color: grey;
    position: relative;
    left: 5em;
    top: 20em;
    height: 3em;
    width: 30em;
    border: purple solid 1px;
}

button
{
    background-color: yellow;
    text-decoration-color: red;
}

#attaqueButton
{
    position: relative;
    top: 27em;
    left: 10em;
}
#fuirButton
{
    position: relative;
    top: 27em;
    left: 30em;    
}
